{
  "extends": ["airbnb", "airbnb/hooks","airbnb-typescript", "prettier"],

  "plugins": ["prettier"],

  "rules": {
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "prettier/prettier": ["error"],


    "no-unused-vars": "warn",
    "@typescript-eslint/no-unused-vars": ["warn"]

  },


   "parserOptions": {
     "project": "./tsconfig.json"
   }
}
